<section class="card_event">
  <a href="/event/{{id}}">
    <h4><span>{{title}}</span></h4>
</a>
    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{present_by}}</p>
      <p>Date and Time: {{dateandtime}}</p>
    </div>
  
</section>