<section class="card_event">
  <a href="/event/{{id}}">
    <h4>{{title}}</h4>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: {{present_by}}</p>
    </div>
  </a>
</section>