<div class="row profile_page">
  <div>
    <h2 style="text-align: center;">Welcome, {{name}}!</h2>
  </div>
</div>
<div class="category_page">
<aside>
        <header style="font-size: 1.75rem, text-align: center; color: grey; font-weigth: 500;">Plan your event now</header>
        <div style="width: 23rem;" id="calendar"></div>
  </aside>
<div class="container">
    <div class="row gx-5  painting">
      <div class="col" >
        {{#if events.length}}
            
        <h3>Your Event Tickets</h3>      

            {{#each events as |event|}}
        <li><a href="/event/{{event.id}}">{{event.title}} </a> <p>Date and Time: <br> {{event.dateandtime}}</p> </li>

        {{/each}}
      </div>
      {{/if}}      
    

    {{#if saved_events.length}}
      <div class="col del_event">
        
            
        <h3>Saved Event</h3>      

            {{#each saved_events as |saved_event|}}
        <li class="d-flex"><a href="/event/{{saved_event.event_id}}">{{saved_event.notes}} </a><button class="btn-danger" data-id="{{saved_event.id}}">DELETE</button></li>

        {{/each}}
      </div>
      {{/if}}    
    
</div>
</div>

<script src="../js/delevent.js"></script>
